/* New color palette */
:root {
    --navy-blue: #1B263B;
    --slate-gray: #2F4F4F;
    --charcoal: #36454F;
    --gunmetal: #2C3539;
    --steel-blue: #4682B4;
    --dark-slate-blue: #483D8B;
    --light-gray: #D3D3D3;
    --light-steel-blue: #B0C4DE;
}

.publicacion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.publicacion-card {
    background-color: var(--charcoal);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    text-align: center; /* Center-align the content */
}

.publicacion-card h2 {
    margin-top: 0;
    font-size: 20px;
    color: var(--light-steel-blue); /* Lighter color for contrast */
    text-align: center; /* Center the title text */
}

.publicacion-card label {
    font-weight: bold;
    color: var(--light-gray); /* Lighter color for contrast */
}

.publicacion-card p {
    margin-top: 5px;
    font-size: 16px;
    color: var(--light-steel-blue); /* Lighter color for contrast */
}

.publicacion-card img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 5px;
}

.publicacion-card button {
    margin-top: 10px;
    padding: 8px 20px;
    background-color: var(--gunmetal);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.publicacion-card button:hover {
    background-color: var(--steel-blue);
}

.comment-form {
    margin-top: 20px;
}

.comment-input {
    width: calc(50% - 5px);
    margin-right: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comment-submit {
    padding: 8px 20px;
    background-color: var(--navy-blue);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.comment-submit:hover {
    background-color: var(--dark-slate-blue);
}
